<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>Flare Profiler</title>
        <link rel="stylesheet" href="element-ui/theme-chalk/index.css">
        <link rel="stylesheet" href="simpleui.css">
		<script src="vue.js" ></script>
		<script src="element-ui/index.js"></script>

	</head>
	<body>
		<div id="app">
			<div class="message" style="display: none" v-show="profiler.show_message">
				<!--				<p>操作指令：{{profiler.data.cmd}}</p>-->
				<p>错误信息：{{profiler.data.message}}</p>
			</div>
			<div class="version_text">{{profiler.data.version}}</div>
			<template>
				<el-tabs class="main-content" v-model="profiler.data.activeTab" type="card" @tab-click="handleTabClick">
					<el-tab-pane label="Profiles" name="profile" class="work-content" >
						<div>
							<p>Profile Agent:
								<input class="input-field" type="text" v-model="profiler.agent_addr">
								<input type="button" value="Connect" onclick="profiler.connect_agent()" >
							</p>
						</div>
						<!--			<div>-->
						<!--				<p>Open Sample:-->
						<!--				<input class="input-field" type="file" v-model="profiler.sample_dir">-->
						<!--				<input type="button" value="Open" onclick="profiler.open_sample()" >-->
						<!--				</p>-->
						<!--			</div>-->
						<div>
							<input type="button" value="Sessions" onclick="profiler.list_sessions()" >
							<input type="button" value="History" onclick="profiler.list_history()" >
							<input type="button" value="Close current session" onclick="profiler.close_session()" >
							<input type="button" value="Close all sessions" onclick="profiler.close_all_session()" >

							<div v-show="profiler.show_history_samples">
								<p class="list-title">History samples:</p>
								<ul class="list-content">
									<li class="list-item" v-for="sample in profiler.data.history_samples" @click='profiler.open_sample(sample.path)' :class="{selected: profiler.data.session_id == sample.path}" >[{{sample.type}}]{{sample.path}}</li>
								</ul>
							</div>
							<div class="list-div" v-show="profiler.show_sessions">
								<p class="list-title">Open sessions:</p>
								<ul class="list-content">
									<li class="list-item" v-for="session in profiler.data.sample_sessions" @click="profiler.active_session(session.session_id, session.type)" :class="{selected: profiler.data.session_id == session.session_id}" > [{{session.type}}]{{session.session_id}}</li>
								</ul>
							</div>
						</div>

					</el-tab-pane>

					<el-tab-pane label="Dashboard" name="dashboard"  class="work-content">
						<div id="dashboard">
							<div>
								<table>
									<tbody>
									<tr>
										<td><p>Profile Session: {{profiler.data.session_id}} ({{profiler.data.type}})</p></td>
									</tr>
									<tr>
										<td><p>Sample Start Time: {{profiler.data.sample_info.sample_start_time}}</p></td>
										<td><p>Record Start Time: {{profiler.data.sample_info.record_start_time}}</p></td>
									</tr>
									<tr>
										<td><p>Record Duration: {{(profiler.data.sample_info.last_record_time - profiler.data.sample_info.record_start_time)/1000}}s</p></td>
										<td><p>Last Record Time: {{profiler.data.sample_info.last_record_time}}</p></td>
									</tr>
									</tbody>
								</table>
							</div>
							<!-- "ID", "NAME", "GROUP", "PRIORITY", "STATE", "%CPU", "TIME", "DAEMON" -->
							<table>
								<thead>
								<th width="10%">ID</th>
								<th width="20%">Name</th>
								<th width="10%">Group</th>
								<th width="10%">Priority</th>
								<th width="10%">State</th>
								<th width="10%">%CPU</th>
								<th width="10%">Time</th>
								<th width="10%">Daemon</th>
								</thead>
								<tbody>
								<tr v-for="thread in profiler.data.threads">
									<td>{{thread.id}}</td>
									<td>{{thread.name}}</td>
									<td>{{thread.group}}</td>
									<td>{{thread.priority}}</td>
									<td>{{thread.state}}</td>
									<td>{{thread.cpu_util}}</td>
									<td>{{thread.cpu_time | cpuTimeFilter}}</td>
									<td>{{thread.daemon}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</el-tab-pane>

					<el-tab-pane label="Threads" name="threads" class="work-content">
						<div id="cpu_time_region" onscroll="profiler.on_scroll_thread_cpu_charts()">
							<h4 class="title">CPU Time</h4>
							<div id="cpu_time_content">
								<!--									<div class="echarts_bar">-->
								<!--										<div class="thread_name">Thread 0</div>-->
								<!--										<div class="thread_bar" id="echartsId"></div>-->
								<!--									</div>-->
								<div v-for="thread,index in profiler.data.threads" @click="profiler.select_thread(thread.id, thread.name)" class="echarts_bar" :class="{selected: profiler.selected_thread_id == thread.id}" >
									<div class="thread_name" :title="thread.name" >{{thread.id}} {{thread.name}}</div>
									<div class="thread_bar" v-bind:id="'thread_cpu_chart_'+thread.id"></div>
								</div>
							</div>
						</div>
					</el-tab-pane>

					<el-tab-pane label="Call Graph" name="call_graph" class="graph-content ">
						<div class="echarts_bar" >
							<div class="thread_name" :title="profiler.selected_thread_name" >{{profiler.selected_thread_name}}</div>
							<div class="thread_bar" v-bind:id="'thread_cpu_chart_call_graph'"></div>
						</div>
						<div id="flame_graph" class="flame-container" v-show="profiler.show_flame_graph" >
							<h4 class="title">Flame Graph</h4>
							<span class="toolbar">
										<input type="button" value="<<" onclick="profiler.ajdust_flame_view(-0.3)" >
										<input type="button" value="<" onclick="profiler.ajdust_flame_view(-0.1)" >
										<input type="button" value=">" onclick="profiler.ajdust_flame_view(0.1)" >
										<input type="button" value=">>" onclick="profiler.ajdust_flame_view(0.3)" >
									</span>
							<div id="flame_graph_svg" v-html="profiler.data.flame_graph_data" ></div>
						</div>
						<div id="d3_flame_graph" class="flame-container"  v-show="profiler.show_d3_flame_graph">
							<h4 class="title" v-show="false">D3 Flame Graph</h4>
							<div id="d3_flame_graph_svg" >
								<!--  <d3-flamegraph> </d3-flamegraph> -->
							</div>
						</div>
						<div id="chrome_flame_chart_container" class="flame-container"  v-show="profiler.show_chrome_flame_chart">
							<iframe id="chrome_flame_chart" src="devtools/flamechart.html"></iframe>
						</div>
					</el-tab-pane>

					<el-tab-pane label="Call Tree" name="call_tree" class="work-content">
						<div id="call_tree" v-show="profiler.show_call_tree">
							<h4 class="title">Call Stack</h4>
							<el-input
									placeholder="输入关键字进行过滤"
									v-model="treeFilterText">
							</el-input>

							<div class="tree">
								<el-tree
										class="filter-tree"
										:data="profiler.data.call_tree_data"
										:props="treeProps"
										default-expand-all
										:filter-node-method="filterNode"
										ref="tree">
										<span class="custom-tree-node" slot-scope="{ node, data }">
												<span>{{ data | nodeLabelRender }}</span>
											<!--												<span>-->
											<!--												  <el-button-->
											<!--														  type="text"-->
											<!--														  size="mini"-->
											<!--														  @click="() => remove(node, data)">-->
											<!--													Delete-->
											<!--												  </el-button>-->
											<!--												</span>-->
											</span>
								</el-tree>
							</div>
						</div>
					</el-tab-pane>

					<el-tab-pane label="Method Analysis" name="top_slow_method" class="work-content">
						<div id="top_slow_div">
							<h4 class="title">Method Analysis</h4>
							<div>
								选择方法:
								<el-input class="long_input" size="mini" placeholder="输入方法名进行过滤"
										  v-model="methodFilterText"  @keyup.native="profiler.list_methods_by_filter(methodFilterText)">
								</el-input>
								(total {{profiler.data.total_method_size}}) &nbsp;
								<el-dropdown @command="select_filter_method">
									<span class="el-dropdown-link">
										Methods<i class="el-icon-arrow-down el-icon--right"></i>
									</span>
									<el-dropdown-menu slot="dropdown">
										<el-dropdown-item command="HttpServlet.service" >Servlet</el-dropdown-item>
										<el-dropdown-item command="doDispatch" >SpringMVC</el-dropdown-item>
										<el-dropdown-item command="executeQuery" >MySQL</el-dropdown-item>
										<el-dropdown-item command="RedisTemplate.execute" >Redis</el-dropdown-item>
										<el-dropdown-item command="execute" >execute</el-dropdown-item>
										<el-dropdown-item command="commit" >commit</el-dropdown-item>
									</el-dropdown-menu>
								</el-dropdown> &nbsp;

								<el-button type="primary" size="mini" plain @click='profiler.add_all_filter_methods()' >Add all</el-button> &nbsp;
								<el-button type="danger" size="mini" plain @click='profiler.clear_search_methods()' >Clear</el-button> &nbsp;

								<div v-show="profiler.uistate.show_filter_methods">
									<ul class="method-list-content">
										<li class="list-item" v-for="method_info in profiler.data.method_infos" @click='profiler.add_search_method(method_info)' >{{method_info.full_name}}</li>
									</ul>
								</div>

							</div>

							<div class="selected_methods_div">查找的方法集合:
								<el-tag
										class="method_tag"
										v-for="method_info in profiler.uistate.search_methods"
										:key="method_info.full_name"
										closable
										@close="profiler.remove_search_method(method_info)"
										size="small">
									{{method_info.full_name}}
								</el-tag>
							</div>

							<div class="row_div">
								方法执行时间(ms)：
								<el-input class="short_input" size="mini" placeholder="最小执行时间" v-model="profiler.uistate.min_method_duration"> </el-input> -
								<el-input class="short_input" size="mini" placeholder="最大执行时间" v-model="profiler.uistate.max_method_duration"> </el-input>
							</div>
							<div class="row_div">
								过滤线程：<el-input class="long_input" size="mini" placeholder="输入线程名称进行过滤" v-model="profiler.uistate.thread_name_filter"> </el-input>
							</div>
							<div>
								<p class="list-title"> 上面选定方法最慢的调用记录： (total
                                    {{profiler.uistate.method_call_groups.length}}) &nbsp;
                                    <el-button type="primary" size="mini" plain @click='profiler.search_slow_methods()' >Search</el-button> &nbsp;
									<el-button type="warning" size="mini" plain @click='profiler.stop_search_slow_methods()' >Stop</el-button> &nbsp;&nbsp;
									<el-button type="primary" size="mini" plain @click='profiler.sort_slow_method_calls()' >Sort</el-button> &nbsp;
									<span class="search_method_message" :class="{error_message: profiler.uistate.search_method_error == true}" >{{profiler.uistate.search_method_message}}</span>
								</p>
                                <el-collapse v-model="activeNames">
                                    <el-collapse-item v-for="call_group in  profiler.uistate.method_call_groups" :name="'call_group_'+call_group.group_id">
                                        <template slot="title">
                                            Group #{{call_group.group_id}} - method_calls: {{call_group.method_calls.length}} &nbsp;
                                            <el-popover placement="right" trigger="hover">
                                                <ul class="call-stack-list-content">
                                                    <li v-for="call in call_group.call_stack">{{call.full_name}}</li>
                                                </ul>
                                                <el-button size="mini" slot="reference" >View CallStack</el-button>
                                            </el-popover>

                                        </template>
                                        <ul class="slow-calls-list-content">
                                            <li class="list-item" v-for="method_call in call_group.method_calls" @click='profiler.jump_to_method_call(method_call)'
                                            >{{method_call.full_name}} - (duration:{{method_call.duration}}, calls:{{method_call.calls}}) - [#{{method_call.thread_id}}] {{method_call.thread_name}} </li>
                                        </ul>
                                    </el-collapse-item>
                                </el-collapse>
							</div>
						</div>
					</el-tab-pane>
				</el-tabs>
			</template>
		</div>


        <script type="text/x-template" id="d3-flamegraph-template">
            <div>
<!--                <link rel="stylesheet" href="d3-flame-graph/bootstrap.min.css">-->
<!--                <link rel="stylesheet" type="text/css" href="d3-flame-graph/d3-flamegraph.css">-->

                <div class="container1">
                    <div class="header clearfix">
                        <nav>
                            <div class="pull-right">
                                <form class="form-inline" id="form" onsubmit="search()">
                                    <a class="btn" href="javascript: resetZoom();">Reset zoom</a>
                                    <a class="btn" href="javascript: clear();">Clear</a>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="term">
                                    </div>
                                    <a class="btn btn-primary" href="javascript: search();">Search</a>
                                </form>
                            </div>
                        </nav>
                        <h3 class="text-muted">d3-flame-graph</h3>
                    </div>
                    <div id="chart">
                    </div>
                    <hr>
                    <div id="details">
                    </div>
                </div>
            </div>
        </script>

        <script src="echarts.min.js"></script>
		<!-- D3.js -->
<!--		<script src="d3-flame-graph/d3.v4.min.js" charset="utf-8"></script>-->
		<!-- d3-tip -->
<!--		<script type="text/javascript" src="d3-flame-graph/d3-tip.min.js" ></script>-->
		<!-- d3-flamegraph -->
<!--		<script type="text/javascript" src="d3-flame-graph/d3-flamegraph.min.js"></script>-->
<!--		<script type="text/javascript" src="d3-flamegraph.js"></script>-->
        <script src="simpleui.js" ></script>

	</body>
</html>