p {
    margin: 0 0 6px !important;
}

#main-content {
    min-height: 95vh;
    overflow: hidden;
}

#dashboard {
    width: 900px;
    overflow: auto;
}

#stats_result_region {
    /*background: #e6a23c;*/
    width: 1000px;
    height: 600px;
    overflow: auto;
}

#stats_result_region > div {
    width: 100%;
    height: 100%;
}

#cpu_time_region {
    /*background: #a0cfff;*/
    width: 1000px;
    margin-left: 10px;
}

#cpu_time_content {
    width: 1000px;
    overflow-x: hidden;
    overflow-y: auto;
}

input.input-field {
    width: 250px;
}

.message {
    color: #DD0000;
    /*color: #409eff;*/
}
#layout td {
    vertical-align: top;
}
.list-content {
    height: 200px;
    overflow: auto;
    list-style:none;
    margin:1px;
    padding:0px;
    border: #8cc5ff 1px;
}
.list-item {
    cursor: pointer;
    padding-bottom: 6px;
}
.selected {
    background-color: #c2e7b0;
}
.title {
    margin-top: 0px;
    margin-bottom: 10px;
}
.echarts_bar {
    height: 30px;
    width: 1200px;
    vertical-align: baseline;
    overflow-x: auto;
}

.echarts_bar .thread_name {
    height: 30px;
    line-height: 30px;
    width: 240px;
    margin-right: 5px;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: default;
    word-break: break-all;
}
.echarts_bar .thread_bar {
    height: 30px;
    width: 780px;
    float: left;
    color: #e74911;
    overflow: hidden;
}

.tree {
    overflow-y: auto;
    overflow-x: scroll;
    width: 900px;
    height: 600px;
    background-color: #ffffff;
}
.el-tree {
    min-width: 100%;
    display: inline-block !important;
}

.el-tree-node > .el-tree-node__children {
    overflow: visible;
}

.flame-container {
}

#flame_graph .title {
    float: left;
}
#flame_graph .toolbar {
    float: left;
    margin-left: 10px;
}

#flame_graph_svg {
    width: 900px;
    min-height: 468px;
}

#d3_flame_graph_svg {
    /*width: 900px;*/
    /*height: 468px;*/
    height: 490px;
}

#chrome_flame_chart {
    width: 100%;
    height: 80vh;
    min-height: 500px;
    border: 0px;
}

.version {
    display: inline-block;
    position: absolute;
    float: right;
    right: 10px;
    z-index: 999;
    /*border-radius: 4px;*/
    /*border: #8cc5ff 1px solid;*/
    /*padding: 2px 5px 2px 5px;*/
}