p {
    margin: 0 0 6px !important;
}

.main-content {
    height: 95vh;
    overflow: hidden;
}

.work-content {
    height: 90vh;
    overflow: hidden;
}

.graph-content {
    height: 90vh;
    overflow: hidden;
}

#dashboard {
    /*width: 900px;*/
    height: 86vh;
    overflow: auto;
}

#stats_result_region {
    /*background: #e6a23c;*/
    width: 1000px;
    height: 600px;
    overflow: auto;
}

#stats_result_region > div {
    width: 100%;
    height: 100%;
}

#cpu_time_region {
    /*background: #a0cfff;*/
    height: 86vh;
    margin-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#cpu_time_content {
    width: 1100px;
    overflow-x: hidden;
    overflow-y: auto;
}

input.input-field {
    width: 250px;
}

.message {
    color: #DD0000;
    /*color: #409eff;*/
    display: inline-block;
    position: absolute;
    float: left;
    left: 480px;
    top: 50px;
    z-index: 1010;
}
#layout td {
    vertical-align: top;
}
.list-title{
    margin: 0 6px 0 5px; !important;
}
.list-content {
    /*height: 400px;*/
    height: 72vh;
    overflow: auto;
    list-style:none;
    margin:1px;
    padding:0px;
    border: #8cc5ff 1px;
}
.list-item {
    cursor: pointer;
    padding-bottom: 6px;
}
.method-list-content {
    min-height: 120px;
    max-height: 150px;
    overflow: auto;
    list-style:none;
    margin:4px 0px 4px 4px;
    padding:4px;
    border: #c7ddef 1px solid;
    font-size: 12px;
}
.slow-calls-list-content {
    /*height: 250px;*/
    /*height: 50vh;*/
    overflow: auto;
    list-style:none;
    margin:4px;
    padding:4px;
    border: #c7ddef 1px solid;
}
.call-stack-list-content {
    cursor: default;
    overflow: auto;
    max-height: 80vh;
    border-width: 0px;
}
.call-stack-list-content td{
    padding: 0;
}
.call-stack-list-content li:hover {
    color: #1a73e8 !important;
}
.call-stack-list-content .call_stack_name:hover {
    color: #1a73e8 !important;
}
.call-stack-list-content .el-tag:hover {
    color: #1a73e8 !important;
}
.call-stack-list-content:focus {
    outline:0 none;
}

.method_groups_div{
    max-height: 80vh;
    overflow: auto;
}
.search_method_message {
    margin:4px;
    /*background-color: #f0f9eb;*/
    /*color: #1a73e8;*/
}
.group_first_method{
    text-overflow: ellipsis;
    max-width: 500px;
    overflow: hidden;
    margin-right: 5px;
}
.feat_main > .el-tag{
    background-color: #ecf5ff;
    color: #409eff;
    border-color: #d9ecff;
}
.feat_gray > .el-tag{
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
}
.feat_db > .el-tag{
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}
.feat_rpc > .el-tag{
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}
.feat_severe > .el-tag{
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

.call-stack-list-content .feat_main {
    background-color: #ecf5ff;
    color: #409eff;
    border-color: #d9ecff;
}

.call-stack-list-content .feat_gray  {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
}
.call-stack-list-content .feat_db {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}
.call-stack-list-content .feat_rpc {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}
.call-stack-list-content .feat_severe {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

.call_stack_name {
    margin-right: 20px;
}
.call_stack_tag{
    float: right;
    right: 10px;
    position: absolute;
}
.call_stack_tag_space {
    width: 50px;
}

.call_stack_close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

.feat_tag{
    margin-right: 4px;
}
.error_message {
    background-color: #fef0f0;
    color: #f56c6c;
}
.selected {
    background-color: #c2e7b0;
}
.title {
    margin-top: 0px;
    margin-bottom: 10px;
}
.method_tag{
    margin: 4px;
}
.selected_methods_div {
    min-height: 120px;
    max-height: 150px;
    overflow: auto;
    list-style:none;
    margin:4px 4px 4px 0px;
    padding:4px;
    border: #c7ddef 1px solid;
    /*max-height: 100px;*/
    /*overflow: auto;*/
    width: 49%;
    border-left: none;
}
.short_input {
    width: 180px;
}
.long_input {
    width: 250px;
}
.row_div {
    margin: 5px 0;
}
.echarts_bar {
    height: 30px;
    width: 1500px;
    vertical-align: baseline;
    overflow-x: auto;
}

.echarts_bar .thread_name {
    height: 30px;
    line-height: 30px;
    width: 240px;
    margin-right: 5px;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: default;
    word-break: break-all;
}
.echarts_bar .thread_bar {
    height: 30px;
    width: 980px;
    float: left;
    color: #e74911;
    overflow: hidden;
}

.tree {
    overflow-y: auto;
    overflow-x: scroll;
    width: 900px;
    height: 600px;
    background-color: #ffffff;
}
.el-tree {
    min-width: 100%;
    display: inline-block !important;
}

.el-tree-node > .el-tree-node__children {
    overflow: visible;
}

.flame-container {
    height: 100%;
    overflow: hidden;
}

#flame_graph .title {
    float: left;
}
#flame_graph .toolbar {
    float: left;
    margin-left: 10px;
}

#flame_graph_svg {
    width: 900px;
    min-height: 468px;
}

#d3_flame_graph_svg {
    /*width: 900px;*/
    /*height: 468px;*/
    height: 490px;
}

#chrome_flame_chart {
    width: 100%;
    /*height: 100%;*/
    height: 80vh;
    min-height: 400px;
    border: 0px;
}

#method_analysis_frame {
    width: 100%;
    /*height: 100%;*/
    height: 90vh;
    min-height: 400px;
    border: 0px;
}

.header-config {
    display: inline-block;
    position: absolute;
    float: right;
    right: 10px;
    z-index: 999;
    /*border-radius: 4px;*/
    /*border: #8cc5ff 1px solid;*/
    /*padding: 2px 5px 2px 5px;*/
}
.header-config-content{
    width: 100%;
    height: 100%;
    padding-left: 25px;
}

.header-config-dialog{}
.header-config-dialog .menu-item{
    height: 40px;line-height: 40px;
}
.header-config-dialog .el-dialog__header {
    padding: 10px 20px 5px;
}
.header-config-dialog .el-dialog__body {
    padding: 10px 15px;
}
.header-config-dialog .config-button{
    text-align: center; margin-top: 10px;
}

.footer-version{
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.display-flex{
    display: flex;
}

.filter_methods_header{
    height: 20px;
    margin: 5px 5px 5px 0px;
    display: flex;
    cursor: pointer;
    line-height: 20px;
}

/* view call stack 默认位置 */
.call_stack_popver{
    position: absolute;
    left: 45%;
    top: 5%;
}

.delete-popver{
    background: #FFF;
    max-width: 200px;
    min-width: 150px;
    border: 1px solid #EBEEF5;
    padding: 12px;
    z-index: 2000;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    word-break: break-all;
    display: none;
}

.cursor{cursor: pointer}

/* 隐藏table header */
#call_stack_div .el-table thead{display: none}

#app .el-dropdown-link {
    cursor: pointer;
    color: #409eff;
}