<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>Flare Client Test</title>
		<script src="vue.js" ></script>
		<script src="element-ui/index.js"></script>
		<link rel="stylesheet" href="element-ui/theme-chalk/index.css">
		<script src="simple.js" ></script>
		<style type="text/css" >
			#dashboard {
				width: 900px;
				height: 400px;
				overflow: auto;
			}

			#stats_result_region {
				/*background: #e6a23c;*/
				width: 1000px;
				height: 500px;
				overflow: auto;
			}

			#stats_result_region > div {
				width: 100%;
				height: 100%;
			}

			#cpu_time_region {
				/*background: #a0cfff;*/
				width: 900px;
				margin-left: 10px;
			}

			#cpu_time_content {
				width: 900px;
				height: 380px;
				overflow-x: hidden;
				overflow-y: auto;
			}

			input.input-field {
				width: 250px;
			}

			.message {
				color: #DD0000;
				/*color: #409eff;*/
			}
			#layout td {
				vertical-align: top;
			}
            .list-content {
                height: 160px;
                overflow: auto;
                list-style:none;
                margin:0px;
                padding:0px;
            }
            .list-item {
                cursor: pointer;
                padding-bottom: 10px;
            }
			.selected {
				background-color: #c2e7b0;
			}
			.title {
				margin-top: 0px;
				margin-bottom: 10px;
			}
			.echarts_bar {
				height: 30px;
				width: 1200px;
				vertical-align: baseline;
				overflow-x: auto;
			}

			.echarts_bar .thread_name {
				height: 30px;
				line-height: 30px;
				width: 240px;
				margin-right: 5px;
				float: left;
				overflow: hidden;
				text-overflow:ellipsis;
				cursor: default;
				word-break: break-all;
			}
			.echarts_bar .thread_bar {
				height: 30px;
				width: 780px;
				float: left;
				color: #e74911;
				overflow: hidden;
			}

			.tree {
				overflow-y: auto;
				overflow-x: scroll;
				width: 900px;
				height: 600px;
				background-color: #ffffff;
			}
			.el-tree {
				min-width: 100%;
				display: inline-block !important;
			}

			.el-tree-node > .el-tree-node__children {
				overflow: visible;
			}

			#flame_graph_svg {
				width: 900px;
				min-height: 468px;
			}

			#d3_flame_graph_svg {
				/*width: 900px;*/
				/*height: 468px;*/
				height: 490px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<table id="layout">
				<tbody>
					<tr style="height: 500px">
						<td width="900px">
							<div>
								<p>Profiler Agent:
									<input class="input-field" type="text" v-model="profiler.agent_addr">
									<input type="button" value="Connect" onclick="profiler.connect_agent()" >
								</p>
							</div>
							<!--			<div>-->
							<!--				<p>Open Sample:-->
							<!--				<input class="input-field" type="file" v-model="profiler.sample_dir">-->
							<!--				<input type="button" value="Open" onclick="profiler.open_sample()" >-->
							<!--				</p>-->
							<!--			</div>-->
							<div>
								<input type="button" value="Sessions" onclick="profiler.list_sessions()" >
								<input type="button" value="History" onclick="profiler.list_history()" >
								<input type="button" value="Stop Refresh" onclick="profiler.stop_auto_refresh()" >
								<input type="button" value="Close" onclick="profiler.close_session()" >

								<div v-show="profiler.show_history_samples">
									<p>History samples:</p>
                                    <ul class="list-content">
                                        <li class="list-item" v-for="sample in profiler.data.history_samples" @click='profiler.open_sample(sample.path)' >[{{sample.type}}]{{sample.path}}</li>
                                    </ul>
								</div>
								<div class="list-div" v-show="profiler.show_sessions">
									<p>Sample sessions:</p>
                                    <ul class="list-content">
									    <li class="list-item" v-for="session in profiler.data.sample_sessions" @click="profiler.active_session(session.session_id, session.type)"> [{{session.type}}]{{session.session_id}}</li>
                                    </ul>
								</div>
							</div>
							<div class="message" v-show="profiler.show_message">
								<!--				<p>操作指令：{{profiler.data.cmd}}</p>-->
								<p>错误信息：{{profiler.data.message}}</p>
							</div>
							<div>
								<p>Sample Session: {{profiler.data.session_id}} ({{profiler.data.type}})</p>
								<p>Sample Start Time: {{profiler.data.sample_info.sample_start_time}}</p>
								<p>Record Start Time: {{profiler.data.sample_info.record_start_time}}</p>
								<p>Last Record Time: {{profiler.data.sample_info.last_record_time}}</p>
								<p>Record Duration: {{(profiler.data.sample_info.last_record_time - profiler.data.sample_info.record_start_time)/1000}}s</p>
							</div>
						</td>
						<td>
							<div id="stats_result_region">
								<div id="call_tree" v-show="profiler.show_call_tree">
									<h4 class="title">Call Stack</h4>
									<el-input
											placeholder="输入关键字进行过滤"
											v-model="treeFilterText">
									</el-input>

									<div class="tree">
										<el-tree
												class="filter-tree"
												:data="profiler.data.call_tree_data"
												:props="treeProps"
												default-expand-all
												:filter-node-method="filterNode"
												ref="tree">
										<span class="custom-tree-node" slot-scope="{ node, data }">
												<span>{{ data | nodeLabelRender }}</span>
											<!--												<span>-->
											<!--												  <el-button-->
											<!--														  type="text"-->
											<!--														  size="mini"-->
											<!--														  @click="() => remove(node, data)">-->
											<!--													Delete-->
											<!--												  </el-button>-->
											<!--												</span>-->
											</span>
										</el-tree>
									</div>
								</div>
								<div id="flame_graph" v-show="profiler.show_flame_graph">
									<h4 class="title">Flame Graph</h4>
									<div id="flame_graph_svg" v-html="profiler.data.flame_graph_data"></div>
								</div>
								<div id="d3_flame_graph" v-show="profiler.show_d3_flame_graph">
									<h4 class="title" v-show="false">D3 Flame Graph</h4>
									<div id="d3_flame_graph_svg">
										<d3-flamegraph>
										</d3-flamegraph>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr style="height: 400px">
						<td>
							<div id="dashboard">
								<!-- "ID", "NAME", "GROUP", "PRIORITY", "STATE", "%CPU", "TIME", "DAEMON" -->
								<table>
									<thead>
									<th width="10%">ID</th>
									<th width="20%">Name</th>
									<th width="10%">Group</th>
									<th width="10%">Priority</th>
									<th width="10%">State</th>
									<th width="10%">%CPU</th>
									<th width="10%">Time</th>
									<th width="10%">Daemon</th>
									</thead>
									<tbody>
									<tr v-for="thread in profiler.data.threads">
										<td>{{thread.id}}</td>
										<td>{{thread.name}}</td>
										<td>{{thread.group}}</td>
										<td>{{thread.priority}}</td>
										<td>{{thread.state}}</td>
										<td>{{thread.cpu_util}}</td>
										<td>{{thread.cpu_time | cpuTimeFilter}}</td>
										<td>{{thread.daemon}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td>
							<div id="cpu_time_region">
								<h4 class="title">CPU Time</h4>
								<div id="cpu_time_content">
<!--									<div class="echarts_bar">-->
<!--										<div class="thread_name">Thread 0</div>-->
<!--										<div class="thread_bar" id="echartsId"></div>-->
<!--									</div>-->
									<div v-for="thread,index in profiler.data.threads" @click="profiler.select_thread(thread.id)" class="echarts_bar" :class="{selected: profiler.selected_thread_id == thread.id}" >
										<div class="thread_name" :title="thread.name" >{{thread.name}}</div>
										<div class="thread_bar" v-bind:id="'thread_cpu_chart_'+thread.id"></div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script src="echarts.min.js"></script>
		<!-- D3.js -->
		<script src="d3-flame-graph/d3.v4.min.js" charset="utf-8"></script>

		<!-- d3-tip -->
		<script type="text/javascript" src="d3-flame-graph/d3-tip.min.js" ></script>

		<!-- d3-flamegraph -->
		<script type="text/javascript" src="d3-flame-graph/d3-flamegraph.min.js"></script>

		<script type="text/javascript">
			Vue.component('d3-flamegraph', {
				template: '#d3-flamegraph-template',
				data() {
					return { checked: false, title: 'Check me' }
				},
				methods: {
				}
			});

			var flameGraph = d3.flamegraph()
					.width(960)
					.cellHeight(18)
					.transitionDuration(750)
					.minFrameSize(5)
					.transitionEase(d3.easeCubic)
					.sort(false)
					//Example to sort in reverse order
					//.sort(function(a,b){ return d3.descending(a.name, b.name);})
					.title("")
					.onClick(onClick)
					.differential(false)
					.inverted(true)
					.selfValue(false);

			// flameGraph.label(function(d) {
			//   return d.data.name + ", " + d.data.value+"ms";
			// });

			// Example on how to use custom tooltips using d3-tip.
			// var tip = d3.tip()
			//   .direction("s")
			//   .offset([8, 0])
			//   .attr('class', 'd3-flame-graph-tip')
			//   .html(function(d) { return "name: " + d.data.name + ", value: " + d.data.value; });

			// flameGraph.tooltip(tip);

			var details = document.getElementById("details");
			flameGraph.setDetailsElement(details);

			// Example on how to use custom labels
			// var label = function(d) {
			//  return "name: " + d.name + ", value: " + d.value;
			// }
			// flameGraph.label(label);

			// Example of how to set fixed chart height
			// flameGraph.height(540);

			// d3.json("stacks.json", function(error, data) {
			// 	if (error) return console.warn(error);
			// 	d3.select("#chart")
			// 			.datum(data)
			// 			.call(flameGraph);
			// });

			function set_d3_flamegraph_data(data) {
				d3.selectAll("#chart > svg > *").remove();
				d3.select("#chart")
					.datum(data)
					.call(flameGraph);
			}

			function search() {
				var term = document.getElementById("term").value;
				flameGraph.search(term);
			}

			function clear() {
				document.getElementById('term').value = '';
				flameGraph.clear();
			}

			function resetZoom() {
				flameGraph.resetZoom();
			}

			function onClick(d) {
				console.info("Clicked on " + d.data.name);
			}
		</script>

		<script type="text/x-template" id="d3-flamegraph-template">
			<div>
				<link rel="stylesheet" href="d3-flame-graph/bootstrap.min.css">
				<link rel="stylesheet" type="text/css" href="d3-flame-graph/d3-flamegraph.css">

				<div class="container1">
					<div class="header clearfix">
						<nav>
							<div class="pull-right">
								<form class="form-inline" id="form" onsubmit="search()">
									<a class="btn" href="javascript: resetZoom();">Reset zoom</a>
									<a class="btn" href="javascript: clear();">Clear</a>
									<div class="form-group">
										<input type="text" class="form-control" id="term">
									</div>
									<a class="btn btn-primary" href="javascript: search();">Search</a>
								</form>
							</div>
						</nav>
						<h3 class="text-muted">d3-flame-graph</h3>
					</div>
					<div id="chart">
					</div>
					<hr>
					<div id="details">
					</div>
				</div>
			</div>
		</script>

		<script>
			var profiler = {
				connected: false,
				agent_addr: "localhost:3333",
				profiler_addr: "localhost:3344",
				sample_dir: null,
				dashboard_timer: null,
				show_history_samples: false,
				show_message: false,
				show_sessions: false,
				show_call_tree: false,
				show_flame_graph: false,
				show_d3_flame_graph: true,
				selected_thread_id: null,
				stats_type: "duration",
				data: {
					sample_info: {},
					threads: [],
					history_samples: [],
					sample_sessions: [],
					thread_cpu_time_map: {},
					session_id: "",
					type: "",
					call_tree_data: [{
						id: 1,
						label: '方法调用',
						children: [{
							id: 4,
							label: '二级 1-1'
						}]
					}],
					flame_graph_svg: "",
					flame_graph_data: ""
				},
				start_auto_refresh() {
					if (this.dashboard_timer == null) {
						profiler.do_refresh();
						if(profiler.data.type == "attach") {
							this.dashboard_timer = setInterval(function () {
								profiler.do_refresh();
							}, 2000);
						}
					}
				},
				stop_auto_refresh() {
					if (this.dashboard_timer != null) {
						clearInterval(this.dashboard_timer);
						this.dashboard_timer = null;
					}
				},
                do_refresh(){
                    if (profiler.data.session_id == ""){
                        return;
                    }
				    this.update_dashboard();
                    setTimeout(function () {
                        profiler.update_cpu_time();
                    }, 500);
                },
                update_dashboard(){
					console.log("send request: get_dashboard");
					socket.send(JSON.stringify({
						"cmd": "dashboard",
						"options": {
							"session_id": profiler.data.session_id
						}
					}));
				},
                update_cpu_time(){
                    var thread_ids = [];
                    for ( var i=0;i<profiler.data.threads.length;i++) {
                        thread_ids.push(profiler.data.threads[i].id);
                    }
                    var graph_width = 900;
                    var sample_interval = profiler.data.sample_info.sample_interval;
                    var start_time = profiler.data.sample_info.record_start_time;
                    var end_time = profiler.data.sample_info.last_record_time;
                    var ratio = Math.ceil((end_time - start_time) / graph_width / sample_interval);
                    if (ratio > 10 ){
                    	ratio = Math.floor(ratio/10)*10;
					}
                    var unit_time_ms = ratio * sample_interval;
					profiler.data.sample_info.unit_time_ms = unit_time_ms;

                    var request = {
                        cmd: "cpu_time",
                        options: {
                            "session_id": profiler.data.session_id,
                            "thread_ids": thread_ids,
                            "start_time": start_time,
                            "end_time": end_time,
                            "unit_time_ms": unit_time_ms
                        }
                    };
                    socket.send(JSON.stringify(request));
                    // console.log("update_cpu_time: ", request);
                },
                list_sessions() {
					this.show_sessions = true;
					this.show_history_samples = false;
                    socket.send(JSON.stringify({
                        "cmd": "list_sessions"
                    }))
                },
                list_history: function () {
					this.show_sessions = false;
					this.show_history_samples = true;
					socket.send(JSON.stringify({
                        "cmd": "history_samples"
                    }))
                },
				connect_agent: function () {
					this.clear_session();
					var request = {
						"cmd": "connect_agent",
						"options": {
							"agent_addr": this.agent_addr
						}
					};
					socket.send(JSON.stringify(request));
					this.connected = true;
				},
				close_session() {
					this.connected = false;
					var request = {
						"cmd": "close_session",
						"options": {
							"session_id": profiler.data.session_id
						}
					};
					socket.send(JSON.stringify(request));
				},
				open_sample: function (sample_data_dir) {
					this.clear_session();
					var request = {
						"cmd": "open_sample",
						"options": {
							"sample_data_dir": sample_data_dir
						}
					};
					socket.send(JSON.stringify(request));
				},
				active_session:function (session_id, type) {
					this.clear_session();
					profiler.data.session_id = session_id;
					profiler.data.type = type;
					profiler.start_auto_refresh();
				},
				clear_session: function () {
					this.stop_auto_refresh();
					this.data.session_id = "";
					this.data.threads = [];
					this.data.sample_info = {};
					this.data.thread_cpu_time_map = {};
				},
				on_cpu_time_result(data){
					var sess_start_time = profiler.data.sample_info.record_start_time;
					var sess_end_time = profiler.data.sample_info.last_record_time;
					var unit_time_ms = profiler.data.sample_info.unit_time_ms;

					for (let i = 0; i < data.thread_cpu_times.length; i++) {
						let thread = data.thread_cpu_times[i];
						if (thread.total_cpu_time > 0) {
							let ts_data = fill_ts_data(thread.ts_data, thread.start_time, thread.end_time, sess_start_time, sess_end_time, unit_time_ms);

							let myChart = create_echarts_bar("thread_cpu_chart_"+thread.id, ts_data);
							myChart.on('datazoom', function (evt) {
								var axis = myChart.getModel().option.xAxis[0];
								// var starttime = axis.data[axis.rangeStart];
								// var endtime = axis.data[axis.rangeEnd];
								let start_time = sess_start_time + axis.rangeStart*unit_time_ms;
								let end_time = sess_start_time + axis.rangeEnd*unit_time_ms;
								console.log("datazoom: thread:",thread.id, ", index:", axis.rangeStart,"-", axis.rangeEnd,", time:", start_time,"-", end_time );
								// profiler.update_call_stack_tree([thread.id], start_time, end_time);
								// profiler.update_flame_graph(thread.id, start_time, end_time);
								profiler.update_flame_graph(thread.id, start_time, end_time);
							})
						}
						profiler.data.thread_cpu_time_map[thread.id] = thread;
					}
				},
				update_call_stack_tree(thread_ids, start_time, end_time) {
					var request = {
						"cmd": "call_tree",
						"options": {
							"session_id": profiler.data.session_id,
							"thread_ids": thread_ids,
							"start_time": start_time,
							"end_time": end_time
						}
					};
					socket.send(JSON.stringify(request));
				},
				update_flame_graph(thread_id, start_time, end_time) {
					var request = {
						"cmd": "flame_graph",
						"options": {
							"session_id": profiler.data.session_id,
							"thread_id": thread_id,
							"start_time": start_time,
							"end_time": end_time,
							"stats_type": profiler.stats_type,
							"image_width": 900
						}
					};
					socket.send(JSON.stringify(request));
				},
				update_d3_flame_graph(thread_id, start_time, end_time) {
					var request = {
						"cmd": "d3_flame_graph",
						"options": {
							"session_id": profiler.data.session_id,
							"thread_id": thread_id,
							"start_time": start_time,
							"end_time": end_time,
							"stats_type": profiler.stats_type
						}
					};
					socket.send(JSON.stringify(request));
				},
				select_thread(thread_id) {
					this.selected_thread_id = thread_id;
				},
				onmessage(json){
					var success = (json.result == "success");
					profiler.show_message = !success;
					//将response属性赋值到共享对象
					Object.assign(profiler.data, json.data);
					if (!success) {
						profiler.stop_auto_refresh();
					}
					switch (json.cmd) {
						case "dashboard":
							//profiler.on_dashboard_result(json.data);
							break;
						case "open_sample":
							profiler.start_auto_refresh();
							break;
						case "connect_agent":
							profiler.start_auto_refresh();
							break;
						case "history_samples":
							profiler.show_history_samples = true;
							break;
						case "cpu_time":
							profiler.on_cpu_time_result(json.data);
							break;
						case "flame_graph":
							//profiler.data.flame_graph_svg="data:image/svg+xml;utf8,"+json.data.flame_graph_data.replace(/<\?xml.*?\>.*\<!DOCTYPE.*\<svg/, "<svg");
							break;
						case "d3_flame_graph":
							set_d3_flamegraph_data(json.data.d3_flame_graph_stacks);
							break;
						default:
							console.log("unknown message: ", json);
							break;
					}
				}
            }

			var socket = new WebSocket("ws://"+profiler.profiler_addr, "flare-profiler");
			socket.onopen = function(evt) {
				console.log("Connected to flare profiler successfully.");
				profiler.connected = true;

				//profiler.start_auto_refresh();
			}

			socket.onclose = function(evt) {
				console.log("Disconnected from flare profiler.");
				profiler.connected = false;
			}

			socket.onerror = function(evt) {
				console.log("Connection error.");
				profiler.connected = false;
			}

			socket.onmessage = function (event) {
				//parse result
				var json = JSON.parse(event.data);
				profiler.onmessage(json);
			};

			function send(element) {
				var input = document.getElementById(element);
				socket.send(input.value);
				input.value = "";
			}

			function create_echarts_bar(elemId, echartsData) {
				if (!echartsData){
					echartsData = [];
					for (let i = 0; i < 3000; i++) {
						echartsData.push(Math.random().toFixed(2) * 1000);
					}
				}

				let options = {
					dataZoom: [{
						type: 'inside',
						start:0,
						end:10,
						moveOnMouseMove: false,
						moveOnMouseWheel: false,
						zoomOnMouseWheel: false
					}, {
						type: 'slider',
						//backgroundColor:'#cccccc',
						dataBackground: {
							lineStyle: {
								color: '#409eff',
								opacity: 1
							},
							areaStyle: {
								color: '#3a8ee6',
								opacity: 0.3
							}
						},
						realtime:false,
						filterMode:'empty',
						top:'top',
						left:'left'
					}],
					xAxis: {
						data: echartsData,
						show:false
					},
					yAxis: {show:false},
					series: [{
						type: 'bar',//bar
						data: echartsData,
						large: true,
						largeThreshold:50,
						itemStyle:{
							color: '#e74911', // bar颜色
							opacity: 0 // 透明度，0：不绘制
						}
					}]
				}
				var myChart = echarts.init(document.getElementById(elemId));
				myChart.setOption(options);
				return myChart;
			}

			var app = new Vue({
				el: '#app',
				data: {
					message: '',
					treeFilterText: '',
					treeProps: {
						children: 'children',
						label: 'label'
					},
					profiler: profiler
				},
				// components() {
				// 	"d3-flamegraph"
				// },
				watch: {
					treeFilterText(val) {
						this.$refs.tree.filter(val);
					}
				},
				methods: {
					filterNode(value, data) {
						if (!value) return true;
						return data.label.indexOf(value) !== -1;
					}
				},
				filters: {
					cpuTimeFilter(value) {
						return (value/1000000000).toFixed(2);
					},
					nodeLabelRender(node) {
						return "[dura={0},cpu={1},calls={2}] {3}".format(node.duration||0, (node.cpu||0)/1000, node.calls||0, node.label);
					}
				},
				created(){

				},
                mounted(){
                    //create_echarts_bar('echartsId');
				},
			});

		</script>


	</body>
</html>