<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>Flare Client Test</title>
		<script src="vue.js" ></script>
		<script src="simple.js" ></script>
		<style type="text/css" >
			#dashboard {
				width: 900px;
				height: 400px;
				overflow: auto;
			}

			#stack_tree_region {
				/*background: #e6a23c;*/
				width: 900px;
			}

			#cpu_time_region {
				/*background: #a0cfff;*/
				width: 900px;
			}

			input.input-field {
				width: 250px;
			}
			.list-item {
				cursor: pointer;
			}
			.message {
				color: #DD0000;
			}
			#layout td {
				vertical-align: top;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<table id="layout">
				<tbody>
					<tr style="height: 500px">
						<td width="900px">
							<div>
								<p>Start Sample:
									<input class="input-field" type="text" v-model="profiler.agent_addr">
									<input type="button" value="Connect" onclick="profiler.connect_agent()" >
								</p>
							</div>
							<!--			<div>-->
							<!--				<p>Open Sample:-->
							<!--				<input class="input-field" type="file" v-model="profiler.sample_dir">-->
							<!--				<input type="button" value="Open" onclick="profiler.open_sample()" >-->
							<!--				</p>-->
							<!--			</div>-->
							<div>
								<input type="button" value="Sessions" onclick="profiler.list_sessions()" >
								<input type="button" value="History" onclick="profiler.list_history()" >
								<input type="button" value="Stop" onclick="profiler.stop_dashboard()" >

								<div v-show="profiler.show_history_samples">
									<p>History samples:</p>
									<p class="list-item" v-for="sample in profiler.data.history_samples" @click='profiler.open_sample(sample.path)' >[{{sample.type}}]{{sample.path}}</p>
								</div>
								<div v-show="profiler.show_sessions">
									<p>Sample sessions:</p>
									<p class="list-item" v-for="session in profiler.data.sample_sessions" @click="profiler.active_session(session.session_id, session.type)"> [{{session.type}}]{{session.session_id}}</p>
								</div>
							</div>
							<div class="message" v-show="profiler.show_message">
								<!--				<p>操作指令：{{profiler.data.cmd}}</p>-->
								<p>错误信息：{{profiler.data.message}}</p>
							</div>
							<br>
							<div>
								<p>Sample Session: {{profiler.data.session_id}} </p>
								<p>Sample Type: {{profiler.data.type}} </p>
								<p>Sample Start Time: {{profiler.data.sample_info.sample_start_time}}</p>
								<p>Record Start Time: {{profiler.data.sample_info.record_start_time}}</p>
								<p>Last Record Time: {{profiler.data.sample_info.last_record_time}}</p>
								<p>Record Duration: {{(profiler.data.sample_info.last_record_time - profiler.data.sample_info.record_start_time)/1000}}s</p>
							</div>
						</td>
						<td>
							<div id="stack_tree_region">
								<p>Thread Stack</p>
							</div>
						</td>
					</tr>
					<tr style="height: 400px">
						<td>
							<div id="dashboard">
								<!-- "ID", "NAME", "GROUP", "PRIORITY", "STATE", "%CPU", "TIME", "DAEMON" -->
								<table>
									<thead>
									<th width="10%">ID</th>
									<th width="20%">Name</th>
									<th width="10%">Group</th>
									<th width="10%">Priority</th>
									<th width="10%">State</th>
									<th width="10%">%CPU</th>
									<th width="10%">Time</th>
									<th width="10%">Daemon</th>
									</thead>
									<tbody>
									<tr v-for="thread in profiler.data.threads">
										<td>{{thread.id}}</td>
										<td>{{thread.name}}</td>
										<td>{{thread.group}}</td>
										<td>{{thread.priority}}</td>
										<td>{{thread.state}}</td>
										<td>{{thread.cpu_util}}</td>
										<td>{{thread.cpu_time | cpuTimeFilter}}</td>
										<td>{{thread.daemon}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td>
							<div id="cpu_time_region">
								<h3>CPU Time</h3>

							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script>
			var profiler = {
				connected: false,
				agent_addr: "localhost:3333",
				profiler_addr: "localhost:3344",
				sample_dir: null,
				dashboard_timer: null,
				show_history_samples: false,
				show_message: false,
				show_sessions: false,
				data: {
					sample_info: {},
					threads: [],
					history_samples: [],
					sample_sessions: [],
					session_id: "",
					type: ""
				},
				start_dashboard() {
					if (this.dashboard_timer == null) {
						profiler.get_dashboard();
						if(profiler.data.type == "attach") {
							this.dashboard_timer = setInterval(function () {
								profiler.get_dashboard();
							}, 2000);
						}
					}
				},
				stop_dashboard() {
					if (this.dashboard_timer != null) {
						clearTimeout(this.dashboard_timer);
						this.dashboard_timer = null;
					}
				},
                get_dashboard(){
					if (profiler.data.session_id == ""){
						return;
					}
					console.log("send request: get_dashboard");
					socket.send(JSON.stringify({
						"cmd": "dashboard",
						"options": {
							"session_id": profiler.data.session_id
						}
					}));
				},
                list_sessions() {
					this.show_sessions = true;
					this.show_history_samples = false;
                    socket.send(JSON.stringify({
                        "cmd": "list_sessions"
                    }))
                },
                list_history: function () {
					this.show_sessions = false;
					this.show_history_samples = true;
					socket.send(JSON.stringify({
                        "cmd": "history_samples"
                    }))
                },
				connect_agent: function () {
					this.clear_session();
					var request = {
						"cmd": "connect_agent",
						"options": {
							"agent_addr": this.agent_addr
						}
					};
					socket.send(JSON.stringify(request));
				},
				open_sample: function (sample_data_dir) {
					this.clear_session();
					var request = {
						"cmd": "open_sample",
						"options": {
							"sample_data_dir": sample_data_dir
						}
					};
					socket.send(JSON.stringify(request));
				},
				active_session:function (session_id, type) {
					this.clear_session();
					profiler.data.session_id = session_id;
					profiler.data.type = type;
					profiler.start_dashboard();
				},
				clear_session: function () {
					this.stop_dashboard();
					this.data.session_id = "";
					this.data.threads = [];
					this.data.sample_info = {};
				}
            }

			var socket = new WebSocket("ws://"+profiler.profiler_addr, "flare-profiler");
			socket.onopen = function(evt) {
				console.log("Connected to flare profiler successfully.");
				profiler.connected = true;

				//profiler.start_dashboard();
			}

			socket.onclose = function(evt) {
				console.log("Disconnected to flare profiler.");
				profiler.connected = false;
			}

			socket.onerror = function(evt) {
				console.log("Connection error.");
				profiler.connected = false;
			}

			socket.onmessage = function (event) {
				//parse result
				var json = JSON.parse(event.data);
				var success = (json.result == "success");
				profiler.show_message = !success;

				//将response属性赋值到共享对象
				Object.assign(profiler.data, json.data);
				if (!success) {
					profiler.stop_dashboard();
				}
				switch (json.cmd) {
					case "dashboard":
						break;
					case "open_sample":
						profiler.start_dashboard();
						break;
					case "connect_agent":
						profiler.start_dashboard();
						break;
					case "history_samples":
						profiler.show_history_samples = true;
						break;
					default:
						console.log("unknown message: ", json);
						break;
				}
			};

			function send(element) {
				var input = document.getElementById(element);
				socket.send(input.value);
				input.value = "";
			}

			var app = new Vue({
				el: '#app',
				data: {
					message: '',
					profiler: profiler
				},
				methods: {
				},
				filters: {
					cpuTimeFilter(value) {
						return (value/1000000000).toFixed(2);
					}
				},
				create(){
				}
			});

		</script>
	</body>
</html>