body{margin: 0;padding: 0;font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
html,body,#app{height:100%;}
div,h1,h2,h3,h4,p,ul,li,ol{margin: 0;padding:0;}
ul,ol,li{list-style: none;}

/*.background-hierarchy:hover{border: 1px solid black;background-color: #eeeeee;}*/

.ul-menu li{display: inline-block;}
.mt5{margin-top: 5px;}
.mg10{margin: 10px 10px;}
.ml10{margin-left: 10px}
.cursor{cursor: pointer}
.pull-left{float: left;}
.pull-right{float: right;}
.wh35{width: 32px;height: 35px;}
.background-hierarchy{background: url("../images/hierarchy.png") no-repeat;width: 32px;height: 35px;}
.background-insert{background: url("../images/insert.png") no-repeat; width: 32px; height: 35px;}
.background-run{background: url("../images/run.png") no-repeat;width: 32px;height: 35px;}
.background-download{background: url("../images/download.png") no-repeat;width: 32px;height: 35px;}
.background-compare{background: url("../images/compare.png") no-repeat;width: 32px;height: 35px;}
.background-directory{background: url("../images/directory.png") no-repeat;width: 32px;height: 35px;}
.background-help{background: url("../images/help.png") no-repeat;width: 32px;height: 35px;}
.background-menu{background: url("../images/menu.png") no-repeat;width: 25px;height: 16px;}
.background-fork{background: url("../images/fork.png") no-repeat;width: 32px;height: 35px;}

.area {fill: #e74911;clip-path: url(#clip);}
.zoom { /*cursor: move;*/ /*fill: none;*/ /*pointer-events: all;*/fill: #6cb85d;}
.tooltip{width: 150px;height: auto;position: absolute;font-family: simsun;font-size: 16px;line-height: 26px;text-align: left;border: 1px solid black;background-color: white;border-radius: 5px;}
.tooltip .title{border-bottom: 1px solid #000;text-align: center;}
.tooltip .desColor{width: 10px;height: 10px;float: left;margin: 9px 8px 1px 8px;}
.tooltip .desText{display: inline;}

.el-dialog__body{padding: 0px 0px;color: #606266;font-size: 14px;word-break: break-all;}
.routerBox{margin: 10px 35px;}